div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    position: absolute;
    align-content: center;
    top: 100px;
    left: 100px;
    border: 2px solid black;
    /* transform: rotate(45deg); */
    
    
}

div:hover{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    background-color: red;
    font-size: 20px;
    /* transform: rotate(360deg); */
    /* translate: 200px; */
    /* transform: translateX(20px); */
    /* translate: 100px 200px; */
    /* transform: skew(45deg); */
    
}